In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
import yfinance as yf

/Users/gianmarcocaserta/opt/anaconda3/envs/coursera_data_science_env/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
def mejores_cruces(ticker):
    data = yf.download(tickers=ticker, auto_adjust=True)
    data['ma_20'] = data['Close'].rolling(19).mean()
    data['ma_50'] = data['Close'].rolling(50).mean()
    data['ratio'] = data['ma_20'] / data['ma_50']
    data['decision'] = np.where((data['ratio'].shift(2)<1) & (data['ratio'].shift()>=1), 'Buy', np.where((data['ratio'].shift(2)>=1) & (data['ratio'].shift()<1), 'Sell', 'Stay'))
    data['state'] = np.where(data['ratio'].shift()>=1, 'In', np.where((data['ratio'].shift(2)>=1) & (data['ratio'].shift()<1), 'Sell', 'Stay'))
    return data
mejores_cruces('AAPL')

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume,ma_20,ma_50,ratio,decision
Date,,,,,,,,,
1980-12-12,0.099722,0.100155,0.099722,0.099722,469033600,NaN,NaN,NaN,Stay
1980-12-15,0.094953,0.094953,0.094519,0.094519,175884800,NaN,NaN,NaN,Stay
1980-12-16,0.088015,0.088015,0.087582,0.087582,105728000,NaN,NaN,NaN,Stay
1980-12-17,0.089749,0.090183,0.089749,0.089749,86441600,NaN,NaN,NaN,Stay
1980-12-18,0.092351,0.092785,0.092351,0.092351,73449600,NaN,NaN,NaN,Stay
...,...,...,...,...,...,...,...,...,...
2023-04-05,164.740005,165.050003,161.800003,163.759995,51511700,158.347894,152.889559,1.035701,Stay
2023-04-06,162.429993,164.960007,162.000000,164.660004,45390100,159.198420,153.349885,1.038139,Stay
2023-04-10,161.419998,162.029999,160.080002,162.029999,47716900,159.806841,153.715674,1.039626,Stay
2023-04-11,162.350006,162.360001,160.509995,160.800003,47644200,160.238947,154.017523,1.040394,Stay
2023-04-12,161.220001,162.059998,159.779999,160.100006,50039780,160.613158,154.363884,1.040484,Stay